/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

:root {
  --ifm-color-primary: #ff7db3;
  --ifm-color-primary-dark: #ff65a5;
  --ifm-color-primary-darker: #ff65a5;
  --ifm-color-primary-darkest: #ff4492;
  --ifm-color-primary-light: #fea1c8;
  --ifm-color-primary-lighter: #fbb0cf;
  --ifm-color-primary-lightest: #ffc1db;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  /* background-image:url(/static/img/ayaka.jpg); */
  /* background-attachment: fixed; */
  /* background-color: rgb(255, 9, 9); */
  /* background-size: cover; */
  /* filter: blur(1px); */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */


/* For bilibili Iframe */
@media (max-width: 610px) {
  iframe[src^="//player.bilibili.com/"], iframe[src^="https://player.bilibili.com/"], iframe[src^="http://player.bilibili.com/"] {
      width: 100%;
      height: calc(56.25vw - 50.625px);
  }
}

@media (min-width: 610px) {
  iframe[src^="//player.bilibili.com/"], iframe[src^="https://player.bilibili.com/"], iframe[src^="http://player.bilibili.com/"] {
      width: 100%;
      height: min(506.125px, calc(56.25vw + 17.375px));
  }
}

/* For Office Iframe */
@media (max-width: 610px) {
  iframe[src^="//view.officeapps.live.com"], iframe[src^="https://view.officeapps.live.com/"], iframe[src^="http://player.bilibili.com/"] {
      width: 100%;
      height: calc(70.25vw - 50.625px);
  }
}

@media (min-width: 610px) {
  iframe[src^="//view.officeapps.live.com"], iframe[src^="https://view.officeapps.live.com/"], iframe[src^="http://view.officeapps.live.com/"] {
      width: 100%;
      height: min(556.125px, calc(56.25vw + 17.375px));
  }
}


/* 顶栏的头像 */
.navbar__logo img {
  border-radius: 50%; 
  transition: transform 0.5s; /* 添加过渡效果 */
}

.navbar__logo img:hover {
  transform: rotate(360deg); /* 鼠标悬停时旋转 */
}

